<% provide(:title, 'Monumenti nelle vicinanze') %>
<h1 class="title is-2 is-danger">Lista monumenti nelle vicinanze</h1>
<% if @monument.any? %>
<table class="table">
  <thead>
    <th>Immagine</th>
    <th>Nome</th>
    <th>Link</th>
  </thead>
  <tbody>
      <% @monument.each do |monument| %>
      <tr>
        <td>
        <% if !monument.image.nil? %>
          <%= image_tag "https://commons.wikimedia.org/w/thumb.php?f=#{monument.image}&w=200" , width: 200  %>
        <% else %>
          <%= link_to 'Scattane una tu!',"https://commons.wikimedia.org/w/index.php?title=Special:UploadWizard&campaign=wlm-it&id=#{monument.wlmid}&uselang=it&descriptionlang=it&lat=#{monument.latitude}&lon=#{monument.longitude}&categories=Images+from+Wiki+Loves+Monuments+#{DateTime.now.strftime('%y')}+in+Italy" %>
        <% end %>
        </td>
        <td>
        <%= monument.itemLabel %>
        </td>
        <td>
          <i class="fas fa-search"></i> <%= link_to 'Maggiori informazioni', monument, class: 'button is-medium is-link'%>
        </td>
      <% end %>
    </tbody>
</table>
  <%== pagy_nav_responsive_bulma(@pagy) %>
<% else %>
<h1 class="is-centered title is-3 is-red">Nessun monumento trovato nella località indicata</h1>
<% end %>
<% if @monument.nil? %>
<h1 class="is-centered title is-3 is-red">Nessun monumento trovato nella località indicata o errore</h1>
<% end %>
