<h1 class="title is-2 is-primary"><%= @monument.itemLabel %></h1>
<level class="level">
  <level class="level-left">
    <div id="mapdiv"></div>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script>
      map = new OpenLayers.Map("mapdiv");
      map.addLayer(new OpenLayers.Layer.OSM());

      var lonLat = new OpenLayers.LonLat( <%= @monument.lon %> , <%= @monument.lat %> )
            .transform(
              new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
              map.getProjectionObject() // to Spherical Mercator Projection
            );

      var zoom=16;

      var markers = new OpenLayers.Layer.Markers( "Markers" );
      map.addLayer(markers);

      markers.addMarker(new OpenLayers.Marker(lonLat));

      map.setCenter (lonLat, zoom);
    </script>
  </level>
  <level class="level-right">
    <%= result = Geocoder.search([@monument.lat, @monument.lon]) %>
    <p>Indirizzo: <%= result.first.address %> </p>
    <hr />
    <%= link_to '<i class="fas fa-barcode"></i> Item su Wikidata', "https://wikidata.org/wiki/#{@monument.item}", class: 'button is-danger is-small' %>
    <%= link_to '<i class="fas fa-camera"></i> Carica una foto ', "https://commons.wikimedia.org/w/index.php?title=Special:UploadWizard&campaign=wlm-it&id=#{@monument.wlmid}&uselang=it&descriptionlang=it&lat=#{@monument.latitude}&lon=#{@monument.longitude}&categories=Images+from+Wiki+Loves+Monuments+2018+in+Italy", class: 'button is-primary is-small' %>
  </level>
</level>
