<% provide(:title, @monument.itemlabel.capitalize) %>
<h1 class="title is-2 is-primary"><%= @monument.itemlabel.capitalize %></h1>
<!-- map -->
<div id="mapid" class="is-centered" style="height: 360px;"></div>
<script>
    var mymap = L.map('mapid').setView([<%= @monument.latitude %> , <%= @monument.longitude %>], 18);
    L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v9/tiles/{z}/{x}/{y}?access_token=<%= ENV['MAPBOX_KEY'] %>', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

    var blueIcon = new L.Icon({
        iconUrl: '<%= image_url 'marker-icon-2x-blue.png' %>',
        shadowUrl: '<%= image_url 'marker-shadow.png' %>',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    L.marker([ <%= @monument.latitude %>,<%= @monument.longitude %>], {icon: blueIcon}).addTo(mymap)
        .bindPopup('<%= @monument.itemlabel.capitalize %>')
        .openPopup();
</script>
<!-- end map stuff -->

<br />
<b>Indirizzo:</b>
<a href="https://www.openstreetmap.org/?mlat=<%= @monument.latitude %>&mlon=<%= @monument.longitude %>"><%= @result.first.address unless @result.nil? || @result.first.nil?%> </a>
<hr />
<br />
<div class="buttons is-vertical">
    <%= link_to 'Item su Wikidata', "https://wikidata.org/wiki/#{@monument.item}", class: 'button is-danger is-medium' %>
    <br />
    <br />
    <% if @monument.noupload %>
    <%= link_to ' Monumento scaduto ', "#", class: 'button is-primary is-medium is-disabled' %>
    <% elsif Date.today.month == 9 %>
    <%= link_to ' Carica una foto ', @monument.uploadurl, class: 'button is-primary is-medium' %>
    <% else %>
    <%= link_to ' Carica una foto non partecipante a WLM', @monument.nonwlmuploadurl, class: 'button is-primary is-medium' %>
    <p>Solo le foto caricate dall'1 al 30 settembre partecipano a Wiki Loves Monuments.</p>
    <% end %>
    <br />
    <br />
    <%= link_to 'Categoria su Commons', "https://commons.wikimedia.org/wiki/Category:#{@monument.commons}", class: 'button is-danger is-medium' unless @monument.commons.nil?%>

</div>
<% if @monument.with_photos %>
<p>Il monumento ha <%= @monument.photos_count unless @monument.photos_count.nil? %> foto.</p>
<% else %>
<p>Il monumento non ha foto</p>
<% end %>

<% unless @monument.enddate.nil? %>
<p><b>Data di scadenza</b>: <%= @monument.enddate.strftime("%d-%m-%Y") %>
<% end %>
