<h1 class="title is-2 is-primary"><%= @monument.itemLabel %></h1>

   <% result = Geocoder.search([@monument.latitude, @monument.longitude]) %>
    <a href="https://www.openstreetmap.org/?mlat=<%= @monument.latitude %>&mlon=<%= @monument.longitude %>">Indirizzo: <%= result.first.address %> </p>
    <hr />
    <br />
    <%= link_to 'Item su Wikidata', "https://wikidata.org/wiki/#{@monument.item}", class: 'button is-danger is-medium' %>
    <br />
    <br />
     <%= link_to ' Carica una foto ', "https://commons.wikimedia.org/w/index.php?title=Special:UploadWizard&campaign=wlm-it&id=#{@monument.wlmid}&uselang=it&descriptionlang=it&lat=#{@monument.latitude}&lon=#{@monument.longitude}&categories=Images+from+Wiki+Loves+Monuments+2018+in+Italy", class: 'button is-primary is-medium' %>
</level>
