<% provide(:title, @monument.itemLabel.capitalize) %>
<h1 class="title is-2 is-primary"><%= @monument.itemLabel.capitalize %></h1>
<!-- map -->
<div id="mapid" class="is-centered" style="height: 360px;"></div>
<script>
var mymap = L.map('mapid').setView([<%= @monument.latitude %>, <%= @monument.longitude %>], 18);
L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v9/tiles/{z}/{x}/{y}?access_token=<%= ENV['MAPBOX_KEY'] %>', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(mymap);

L.marker([<%= @monument.latitude %>, <%= @monument.longitude %>]).addTo(mymap)
    .bindPopup('<%= @monument.itemLabel.capitalize %>')
    .openPopup();
</script>
<!-- end map stuff -->

<br />
   <b>Indirizzo:</b><% result = Geocoder.search([@monument.latitude, @monument.longitude]) %>
    <a href="https://www.openstreetmap.org/?mlat=<%= @monument.latitude %>&mlon=<%= @monument.longitude %>"><%= result.first.address %> </a>
    <hr />
    <br />
    <div class="buttons is-vertical">
      <%= link_to 'Item su Wikidata', "https://wikidata.org/wiki/#{@monument.item}", class: 'button is-danger is-medium' %>
      <br />
      <br />
       <%= link_to ' Carica una foto ', "https://commons.wikimedia.org/w/index.php?title=Special:UploadWizard&campaign=wlm-it&id=#{@monument.wlmid}&uselang=it&descriptionlang=it&lat=#{@monument.latitude}&lon=#{@monument.longitude}&categories=Images+from+Wiki+Loves+Monuments+#{DateTime.now.strftime('%y')}+in+Italy", class: 'button is-primary is-medium' %>
      </div>
