<%= provide(:title, 'About e privacy policy') %>
<h1 class="title h2">Tool per visualizzare i monumenti partecipanti a <%= link_to 'Wiki Loves Monuments Italia', 'http://wikilovesmonuments.it' %></h1>
<ul>
    <li><%= link_to 'Codice sorgente', 'https://github.com/ferdi2005/wikilovesmonuments' %></li>
    <li>Dati importati da Wikidata - Licenza CC0 </li>
</ul>
<li>Un ringraziamento a Lorenzo Losa per aver scritto la query iniziale</li>
<li>Favicon del sito è il <a href="https://commons.wikimedia.org/wiki/File:Wiki_Loves_Monuments_Logo_notext.svg">logo ufficiale di WLM</a></li>
<li>Tool realizzato da <a href="https://it.wikipedia.org/wiki/Utente:Ferdi2005">Ferdinando Traversa</a></li>
</ul>

<h2 class="title h3">Statistiche</h2>
<p>Ci sono <b><%= Monument.where(with_photos: false).count %></b> monumenti senza una fotografia su <%= Monument.count %> monumenti totali. Trovi altre statistiche sul sito dei <a href="https://statistiche.wikilovesmonuments.it">concorsi locali</a>.</p>

<% if Date.today >= Date.parse('1 october') %>
<p>Il 31 agosto ce ne erano <%= Nophoto.find_by(regione: nil, created_at: Date.parse('31 august')).try(:count) %> (su <%= Nophoto.find_by(regione: nil, created_at: Date.parse('31 august')).try(:monuments) %>), il 30 settembre ce ne erano <%= Nophoto.find_by(regione: nil, created_at: Date.parse('1 october')).try(:count) %> (su <%= Nophoto.find_by(regione: nil, created_at: Date.parse('1 october')).try(:monuments) %>). Nuovi monumenti con foto: <%= Nophoto.where(regione: nil, created_at: Date.parse('1 october')).try(:count) - Nophoto.find_by(regione: nil, created_at: Date.parse('31 august')).try(:count) if Nophoto.find_by(regione: nil, created_at: Date.parse('1 october')).try(:count) != nil %> </p>
<% end %>
<%= line_chart Nophoto.where(regione: nil, created_at: Date.parse('30 august')...Date.parse('1 october')).pluck(:created_at, :count) %>

<p> Ci sono <b><%= Monument.where(with_photos: true, photos_count: 0).count %></b> monumenti che non hanno mai avuto foto partecipanti al concorso ma, perché hanno un'immagine su Wikidata o una categoria su Commons, sono considerati da questo sistema con immagini.</p>