<% provide(:title, "Image matcher") %>
<h1 class="title is-1">Scegli l'immagine da associare al monumento <%= link_to @monument.item, "https://wikidata.org/wiki/#{@monument.item}" %> <%= @monument.itemlabel %></h1>
<h2 class="subtitle"><%= @monument.itemdescription %></h2>

<%= form_for @monument, method: :post, url: games_imagematch_path do |f| %>
    <%= f.hidden_field :id, value: @monument.id %>
<div class="grid is-col-min-8">    
    <% @images.each do |image|%>
        <div height="20%" class="cell">
            <%= f.radio_button :image, image["title"], style: "vertical-align: top;", id: "#{image["title"].parameterize}-button"%>
            <img id="<%= image["title"].parameterize %>" src="https://commons.wikimedia.org/w/thumb.php?f=<%= CGI.escape(image["title"].gsub("File:", "")) %>&w=500" />
            <script>
                $("#<%= image["title"].parameterize %>").click(function(){
                    $("#<%= image["title"].parameterize %>-button").prop("checked", true);
                });
            </script>
        </div>
    <% end %>
</div>
<div class="buttons">
    <%= f.submit "Aggiungi immagine", class: "button is-primary" %>
    <%= link_to "Salta", "#", class: "button is-info" %>
</div>
<% end %>

<p>Ne mancano ancora <%= @count %> (<%= ((@count.to_f / Monument.count.to_f) * 100).truncate(2)%>)</p>