<!DOCTYPE html>
<html>

<head>
    <title><%= yield(:title) %> - WLM Italia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//stats.ferdinando.me/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '3']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript>
        <p><img src="//stats.ferdinando.me/matomo.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p>
    </noscript>
    <!-- End Matomo Code -->
</head>

<body>
    <% flash.each do |tipo_messaggio, messaggio| %>
    <div class="notification is-<%= tipo_messaggio %>"><%= messaggio %></div>
    <% end %>
    <div class="section">
        <%= yield %>
    </div>
</body>
<footer class="footer">
    <p>
    </p>
    <%= link_to 'About e statistiche', about_path %>
    -
    <%= link_to 'App mobile e API docs', 'https://www.ferdinando.me/wlmapp/' %>
    -
    <%= link_to 'Concorsi locali', 'https://statistiche.wikilovesmonuments.it' %>
    <br />
    <%= link_to 'http://creativecommons.org/publicdomain/zero/1.0/', rel: 'license' do %>
    <%= image_tag 'cc0.png', style: 'border-style: none;', alt: "CC-0" %>
    <% end%>
    </a>


</footer>

</html>