<!DOCTYPE html>
<html>

<head>
    <title><%= yield(:title) %> - WLM Italia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Analytics con plausible -->
    <script async defer data-domain="cerca.wikilovesmonuments.it" src="https://m.ferdi.cc/js/plausible.js"></script>
</head>

<body>
    <% flash.each do |tipo_messaggio, messaggio| %>
    <div class="notification is-<%= tipo_messaggio %>"><%= messaggio %></div>
    <% end %>
    <div class="section">
        <%= yield %>
    </div>
</body>
<footer class="footer">
    <p>
    </p>
    <%= link_to 'About e statistiche', about_path %>
    -
    <%= link_to 'App mobile e API docs', api_path %>
    -
    <%= link_to 'Concorsi locali', 'https://statistiche.wikilovesmonuments.it' %>
    -
    <%= link_to 'Trova ID successivi', nextid_path %>
    -
    <%= link_to 'Doppioni', doppioni_path %>
    <br />
    <%= link_to 'http://creativecommons.org/publicdomain/zero/1.0/', rel: 'license' do %>
    <%= image_tag 'cc0.png', style: 'border-style: none;', alt: "CC-0" %>
    <% end%>
    </a>


</footer>

</html>